@use "../../styles/config";

.box {
  width: 100%;
  padding: 4em 0 4em 0;
  background-color: config.$background-light-grey;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    color: config.$color-emphasis-light;
    font-weight: config.$font-weight-b;
  }

  h3 {
    font-family: config.$font-family;
    font-size: config.$font-size-m;
    color: config.$color-light-primary;
    font-weight: config.$font-weight-sans-b;

    margin-top: 0;
    margin-bottom: 20px;
  }

  p {
    font-family: config.$font-family;
    font-size: config.$font-size-body-x;
    color: config.$color-light-primary;

    margin-bottom: 30px;
    margin-top: 0;
  }

  .projects-rocketseat {
    width: 900px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: config.$font-family;

    span {
      font-size: config.$font-size-p;
      color: config.$color-light-primary;
      margin-bottom: 1em;
    }

    .projects-rocketseat_content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

      .projects-rocketseat_carousel {
        width: 55%;
        margin-right: 1.8em;
      }

      .rocketseat_content_text {
        width: 45%;

        .rocketseat_content_text_span {
          font-family: config.$font-family;
          font-size: config.$font-size-p;
          color: config.$color-light-primary;
        }

        .rocketseat_content_text_p {
          font-family: config.$font-family;
          font-size: config.$font-size-body-m;
          color: config.$color-light-secondary;
          margin-bottom: 0;
          margin-top: 0.8em;
        }

        .rocketseat_content_github {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-top: 1.4em;
          padding: 5px 10px;
          text-decoration: none;
          white-space: nowrap;
          border-radius: config.$border-radius-p;
          width: 50%;
          transition: 0.5s;

          .rocketseat_content_icon {
            width: 2.6em;
          }

          .rocketseat_content_github_p {
            margin-bottom: 0;
            margin-left: 10px;

            font-family: config.$font-family;
            font-size: config.$font-size-body-m;
            color: config.$color-light-secondary;
          }
        }

        .rocketseat_content_github:hover {
          background-color: config.$background-light-clear;
        }
      }
    }
  }

  .rocketseat_carousel_img {
    width: 100%;
  }

  .fade-in-image {
    animation: fadeIn 1.5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .divisor {
    width: 40%;
    height: 2px;
    background-color: config.$color-dark-primary;
    margin: 3em 0 3em 0;
  }

  .projects-alura {
    width: 900px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: config.$font-family;

    .alura-imersao-dev {
      width: 100%;

      p {
        margin-top: 0.6em;
      }

      span {
        font-size: config.$font-size-p;
        color: config.$color-light-primary;
        margin-bottom: 1em;
      }
    }

    .alura-certificate {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 3em;

      span {
        font-size: config.$font-size-p;
        color: config.$color-light-primary;
        margin-bottom: 1em;
      }

      .certificate_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }

    .alura-imersao-dev_content {
      background-color: config.$background-light-default;
      box-shadow: config.$box-shadow-center;

      width: 90%;
      margin: 0 auto;
    }

    .imersao_content_text {
      padding: 1em 3em;

      .content_text {
        font-size: config.$font-size-body-x;
        color: config.$color-light-primary;
        font-weight: config.$font-weight-b;
        margin-bottom: 0.5em;
      }

      .content_text-two {
        font-size: config.$font-size-body-m;
        color: config.$color-light-secondary;
      }
    }
  }

  .projects-link-codepen {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
    padding: 1em 1em;
    text-decoration: none;
    white-space: nowrap;
    border-radius: config.$border-radius-p;
    transition: 0.5s;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      color: config.$color-emphasis-light;
      font-size: config.$font-size-body-x;
      font-weight: config.$font-weight-m;
      margin-right: 1em;
    }
  }

  .projects-link-codepen:hover {
    background-color: config.$background-light-clear;

  }
}
