@use "../../styles/config";

.box-about {
  width: 100%;
  margin-top: 0em;
  padding-bottom: 5em;

  background-color: config.$background-light-emphasis;

  .triangle-div {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 70px solid config.$background-light-clear;

    position: absolute;
    left: 10%;
  }

  .about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .triangle-div-two {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 50px solid #f2f2f2;
      position: absolute;
      top: 9em;
    }

    .about-content {
      width: 50%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 2em 3em;
      margin-top: 10em;

      background-color: config.$background-light-default;
      border-radius: config.$border-radius-x;
      box-shadow: config.$box-shadow-x;

      h3 {
        font-family: config.$font-family-sans;
        font-size: config.$font-size-m;
        color: config.$color-light-primary;
        font-weight: 700;

        margin: 0 0 20px;
      }

      p {
        font-family: config.$font-family;
        font-size: config.$font-size-body-x;
        color: config.$color-light-secondary;
      }

      a {
        color: config.$color-emphasis-light;
        font-weight: config.$font-weight-sans-b;
      }
    }
  }

  button.btn__leia-mais {
    border: none;
    background-color: transparent;
    font-size: config.$font-size-body-m;
    font-weight: config.$font-weight-m;
    color: config.$color-emphasis-light;
    cursor: pointer;
  }

  button.btn__leia-mais:hover {
    text-decoration: underline;
  }
}

.dark {
  .triangle-div {
    border-top: 70px solid rgb(37, 42, 50) !important;
  }

  .about {
    .about-content {
      background-color: config.$background-dark-clear;
      border-radius: config.$border-radius-x;
      box-shadow: config.$box-shadow-x;

      h3 {
        font-family: config.$font-family-sans;
        font-size: config.$font-size-m;
        color: config.$color-dark-primary;
        font-weight: config.$font-weight-sans-b;
      }

      p {
        font-family: config.$font-family;
        font-size: config.$font-size-body-x;
        color: config.$color-dark-secondary;
      }

      a {
        color: config.$color-emphasis-dark;
        font-weight: config.$font-weight-sans-b;
      }
    }
  }

  button.btn__leia-mais {
    border: none;
    background-color: transparent;
    font-size: config.$font-size-body-m;
    font-weight: config.$font-weight-m;
    color: config.$color-emphasis-dark;
    cursor: pointer;
  }

  button.btn__leia-mais:hover {
    text-decoration: underline;
  }
}

@media (min-width: 946px) and (max-width: 1040px) {
  .about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .triangle-div-two {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 50px solid #f2f2f2;
      position: absolute;
      top: 9em;
    }

    .about-content {
      width: 60%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 2em 3em;
      margin-top: 10em;

      background-color: config.$background-light-default;
      border-radius: config.$border-radius-x;
      box-shadow: config.$box-shadow-x;

      h3 {
        font-family: config.$font-family-sans;
        font-size: config.$font-size-m;
        color: config.$color-light-primary;
        font-weight: config.$font-weight-sans-b;

        margin: 0 0 20px;
      }

      p {
        font-family: config.$font-family;
        font-size: config.$font-size-body-m;
        color: config.$color-light-secondary;
      }

      a {
        color: config.$color-emphasis-light;
        font-weight: config.$font-weight-sans-b;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 945px) {
  .about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .triangle-div-two {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 50px solid #f2f2f2;
      position: absolute;
      top: 9em;
    }

    .about-content {
      width: 65% !important;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 2em 3em;
      margin-top: 10em;

      background-color: config.$background-light-default;
      border-radius: config.$border-radius-x;
      box-shadow: config.$box-shadow-x;

      h3 {
        font-family: config.$font-family-sans;
        font-size: config.$font-size-p !important;
        color: config.$color-light-primary;
        font-weight: config.$font-weight-sans-b;

        margin: 0 0 1em;
      }

      p {
        font-family: config.$font-family;
        font-size: config.$font-size-body-m !important;
        color: config.$color-light-secondary;
        margin: 0;
        text-align: justify;
      }

      a {
        color: config.$color-emphasis-light;
        font-weight: config.$font-weight-sans-b;
      }
    }
  }
}

@media (min-width: 566px) and (max-width: 768px) {
  .box-about {
    padding: 3em 0;
  }

  .box-about .triangle-div {
    display: none !important;
  }

  .box-about .about .about-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em 2em;
    margin-top: 6em;

    h3 {
      font-size: config.$font-size-p !important;
    }
    p {
      text-align: justify;
      font-size: config.$font-size-body-m;
      margin: 0;
    }
  }
}

@media (min-width: 446px) and (max-width: 565px) {
  .box-about {
    padding: 3em 0;
  }

  .box-about .triangle-div {
    display: none !important;
  }

  .box-about .about .about-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em 2em;
    margin-top: 6em;

    h3 {
      font-size: config.$font-size-p !important;
    }
    p {
      text-align: justify;
      font-size: config.$font-size-body-p !important;
      margin: 0;
    }
  }
}

@media (min-width: 376px) and (max-width: 445px) {
  .box-about {
    padding: 3em 0;
  }

  .box-about .triangle-div {
    display: none !important;
  }

  .box-about .about .about-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em 1.5em;
    margin-top: 5em;

    h3 {
      font-size: config.$font-size-p !important;
    }
    p {
      text-align: justify;
      margin: 0;
      font-size: config.$font-size-body-p !important;
    }
  }
}

@media (max-width: 375px) {
  .box-about {
    padding: 3em 0;
  }

  .box-about .triangle-div {
    display: none !important;
  }

  .box-about .about .about-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em 1.5em;
    margin-top: 5em;

    h3 {
      font-size: config.$font-size-p !important;
    }
    p {
      text-align: justify;
      margin: 0;
      font-size: config.$font-size-body-p !important;
    }
  }
}
