@use "../../styles/config";

.outset {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 5em;

  background-color: config.$background-light-clear;

  z-index: 10;
}

.outset-apresentation {

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 260px;


  font-family: config.$font-family-sans;

  span {
    font-size: config.$font-size-m;
    color: config.$color-emphasis-light;
    font-weight: config.$font-weight-m;
  }

  h1 {
    font-size: config.$font-size-xl;
    color: config.$color-emphasis-light;
    font-weight: config.$font-weight-sans-xxb;

    margin: 0px 0 10px 0;
  }

  p {
    font-size: config.$font-size-p;
    color: config.$color-light-primary;
    font-weight: config.$font-weight-sans-r;

    margin: 0;
    margin-bottom: 2em;
  }
}

.outset-my-photo {

  img {
    position: relative;
    right: 0em;
    top: 8em;
    
    width: 100%;
  }

}

.dark {
  span {
    font-size: config.$font-size-m;
    color: config.$color-emphasis-dark;
    font-weight: config.$font-weight-m;
    transition: all .6s;

  }

  h1 {
    color: config.$color-emphasis-dark;
    transition: all .6s;

  }

  p {
    color: config.$color-dark-primary; 
    transition: all .6s;

  }
  
  
}
