@use "../../styles/config";

.outset {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  background-color: config.$background-light-clear;

  z-index: 10;
}

.content-outset {
  display: flex;
  align-items: center;
  max-width: 1440px;
  justify-content: center;
  padding-top: 5em;
}

.outset-apresentation {

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 260px;
  z-index: 5;


  font-family: config.$font-family-sans;

  span {
    font-size: config.$font-size-m;
    color: config.$color-emphasis-light;
    font-weight: config.$font-weight-m;
  }

  h1, .outset-sobrenome {
    font-size: config.$font-size-xl;
    color: config.$color-emphasis-light;
    font-weight: config.$font-weight-sans-xxb;
    white-space: nowrap;

    margin: 0px 0 10px 0;
  }

  p {
    font-size: config.$font-size-p;
    color: config.$color-light-primary;
    font-weight: config.$font-weight-sans-r;

    margin: 0;
    margin-bottom: 2em;
  }
}

.outset-my-photo {
  z-index: 1;
  img {
    position: relative;
    right: 0em;
    top: 8em;
    
    width: 100%;
  }

}

.dark {
  span {
    font-size: config.$font-size-m;
    color: config.$color-emphasis-dark;
    font-weight: config.$font-weight-m;
    transition: all .6s;

  }

  h1, .outset-sobrenome {
    color: config.$color-emphasis-dark;
    transition: all .6s;

  }

  p {
    color: config.$color-dark-primary; 
    transition: all .6s;

  }
  
  
}


// MEDIA QUERIE

@media (min-width: 1041px) and (max-width: 1280px) {
  .content-outset {
    max-width: 1028px;
  }

  .outset-apresentation {
    height: 210px;
    padding-left: 1em;

    span {
      font-size: 32px;
    }
  
    h1, .outset-sobrenome {
      font-size: 52px;
      white-space: nowrap;
      font-weight: config.$font-weight-sans-xb;

    }
  
    p {
      font-size: 22px;

    }

    .outset-my-photo {

      img {
        position: relative;
        right: 3em;
        top: 6em;
        
        width: 100%;
      }
    
    }
  }


}

@media (min-width: 946px) and (max-width: 1040px) {
  .content-outset {
    max-width: 900px;
    padding-top: 3em;
  }

  .outset-apresentation {
    height: 165px;
    padding-left: 2em;
    span {
      font-size: 26px;
    }
  
    h1, .outset-sobrenome {
      font-size: config.$font-size-xm;
      white-space: nowrap;
      font-weight: config.$font-weight-sans-xb;

    }
  
    p {
      font-size: 18px;

    }
  }

  .outset-my-photo {

    img {
      position: relative;
      right: 1em;
      top: 9em;
      
      width: 100%;
    }
  
  }
}

@media (min-width: 769px) and (max-width: 945px) {
  .content-outset {
    max-width: 900px;
    padding-top: 3em;
  }

  .outset-apresentation {
    height: 165px;
    padding-left: 2em;
    span {
      font-size: 26px;
    }
  
    h1, span.outset-sobrenome {
      font-size: config.$font-size-xm;
      white-space: nowrap;
      font-weight: config.$font-weight-sans-xb;
    }
  
    p {
      font-size: 18px;

    }
  }

  .outset-my-photo {

    img {
      position: relative;
      right: 1em;
      top: 7em;
      
      width: 100%;
    }
  
  }
}

@media (min-width: 566px) and (max-width: 768px) {
  .content-outset {
    display: flex;
    flex-flow: wrap;
    max-width: 700px;
  }

  .outset-apresentation {
    height: 50px;
    text-align: center;
    padding-top: 4em;

    span {
      font-size: config.$font-size-p;
    }
  
    h1, .outset-sobrenome {
      font-size: 46px;
      white-space: nowrap;
      font-weight: 600;
    }
  
    p {
      font-size: 18px;

    }
  }

  .outset-my-photo {
    padding-bottom: 2em;
    img {
      position: relative;
      right: -4em;
      top: 11em;
      
      width: 80%;
    }
  
  }
}

@media (min-width: 446px) and (max-width: 565px){
  .content-outset {
    display: flex;
    flex-flow: wrap;
    max-width: 700px;
  }

  .outset-apresentation {
    height: 50px;
    text-align: center;
    padding-top: 2.8em;

    span {
      font-size: config.$font-size-p;
      font-weight: config.$font-weight-r !important;
    }
  
    h1 {
      font-size: 46px;
      white-space: nowrap;
      font-weight: 600;
    }

    .outset-sobrenome {
      display: none;
    }
  
    p {
      font-size: 18px;

    }
  }

  .outset-my-photo {
    padding-bottom: 3em;
    img {
      position: relative;
      right: -3em;
      top: 11em;
      
      width: 80%;
    }
  
  }
}

@media (min-width: 376px) and (max-width: 445px){
  .content-outset {
    display: flex;
    flex-flow: wrap;
    max-width: 700px;
  }

  .outset-apresentation {
    height: 50px;
    text-align: center;
    padding-top: 2em;

    span {
      font-size: config.$font-size-p;
      font-weight: config.$font-weight-r !important;
    }
  
    h1 {
      font-size: 46px;
      white-space: nowrap;
      font-weight: 600;
    }

    .outset-sobrenome {
      display: none;
    }
  
    p {
      font-size: 18px;

    }
  }

  .outset-my-photo {
    padding-bottom: 3em;
    img {
      position: relative;
      right: -3em;
      top: 11em;
      
      width: 80%;
    }
  
  }
}

@media (max-width: 375px){
  .content-outset {
    display: flex;
    flex-flow: wrap;
    max-width: 700px;
  }

  .outset-apresentation {
    height: 50px;
    text-align: center;
    padding-top: 2em;

    span {
      font-size: config.$font-size-p;
      font-weight: config.$font-weight-r !important;
    }
  
    h1 {
      font-size: 46px;
      white-space: nowrap;
      font-weight: 600;
    }

    .outset-sobrenome {
      display: none;
    }
  
    p {
      font-size: 18px;

    }
  }

  .outset-my-photo {
    padding-bottom: 3em;
    img {
      position: relative;
      right: -3em;
      top: 11em;
      
      width: 80%;
    }
  
  }
}