/**
 * Fonts
 **/

/**
* Colors
*/
$color-emphasis-light: #EC4F78;
$color-emphasis-dark: #AA3FFF;

/**
* Background
*/
$background-light-default: #ffffff; 
$background-light-clear: #F2F2F2;
$background-light-grey: #E2E2E2;
$background-light-emphasis: #F7C4D2;

$background-dark-default: #2d323a; 
$background-dark-clear: #1D2024;
$background-dark-grey: #252A32;
$background-dark-emphasis: #4E3172;

$background-divisor-light: rgba(236, 79, 120, 0.40);
$background-divisor-dark: rgba(170, 63, 255, 0.40);

/**
* Font color
*/
$color-light-primary: #31343E;
$color-light-secondary: #64666F;

$color-dark-primary: #D6D9E4;
$color-dark-secondary: #B8BAC1;

/**
* Font
*/

$font-family: 'Nunito';
$font-family-sans: 'Nunito Sans', sans-serif;

$font-size-xl: 60px;
$font-size-x: 52px;
$font-size-xm: 40px;
$font-size-m: 36px;
$font-size-p: 26px;
$font-size-body-xx: 22px;
$font-size-body-x: 20px;
$font-size-body-m: 16px;
$font-size-body-p: 14px;

$font-weight-sans-xxb: 900;
$font-weight-sans-xb: 800;
$font-weight-sans-b: 600;
$font-weight-sans-r: 400;
$font-weight-b: 700;
$font-weight-m: 600;
$font-weight-mr: 500;
$font-weight-r: 400;

/**
* BOX-SHADOW E BORDER
*/

$box-shadow-x: -5px 5px 12px rgba(0, 0, 0, 0.2);
$box-shadow-p: -4px 4px 8px rgba(0, 0, 0, 0.2);
$box-shadow-center: 0px 4px 10px rgba(0, 0, 0, 0.2);

$border-radius-x: 20px;
$border-radius-m: 10px;
$border-radius-p: 4px;
$border-radius-divisor-light: 2px solid rgba(236, 79, 120, 0.40); 
$border-radius-divisor-dark: 2px solid rgba(170, 63, 255, 0.40);


